.app.dark {
    --bg-color: #4949a5;
    --inverted-bg-color: #e8e8ea;

    --primary-color: #75d675;
    --secondary-color: #3e753e;
    --inverted-primary-color: #3a5093;
    --inverted-secondary-color: #253e74;
}