.app.normal {
    --bg-color: #e8e8ea;
    --inverted-bg-color: #4949a5;

    --primary-color: #3a5093;
    --secondary-color: #253e74;
    --inverted-primary-color: #75d675;
    --inverted-secondary-color: #3e753e;
}